@using Webadmin.Component;
<div class="container" id="myDiv">
        <div class="cc">
            <img src="/icon/mdi_face-outline.png" alt="" id="logo">
            <h2 class="title">Ti<span>lte</span></h2>
        </div>
        
        <div class="cc" style="margin-top: 80px;" id="cc1">
            <img src="/icon/Filter.png" alt="" style="height: 40px;width: 40px; margin-left: 20%;" class="imgcc child">
            <h4 class="namecc status">Dashboard</h4>
            <img src="/icon/iconamoon_arrow-bottom-left-2.png" style="width: 40px; height: 40px;" class="child row">
            <div class="covert" style="padding-top: 60px;">
                <div class="ccsub">
                    <img src="/icon/Add-User.png" alt="" style="height: 35px;width: 35px; margin-left: 20%;" class="imgcc">
                    <h4 class="namecc">Tài khoản</h4>
                </div>
                <div class="ccsub">
                    <img src="/icon/Swap.png" alt="" style="height: 35px;width: 35px; margin-left: 20%;" class="imgcc">
                    <h4 class="namecc">Phân quyền</h4>
                </div>
            </div> 
        </div>
        <div class="cc" id="cc2" >
            <img src="/icon/Work.png" alt="" style="height: 40px;width: 40px; margin-left: 20%;" class="imgcc child">
            <h4 class="namecc child">Sản phẩm</h4>
            <img src="/icon/iconamoon_arrow-bottom-left-2.png" style="width: 40px; height: 40px;" class="row child">
            <div class="covert" style="padding-top: 60px;">
                <div class="ccsub">
                    <img src="/icon/iconamoon_category-fill.png" alt="" style="height: 35px;width: 35px; margin-left: 20%;" class="imgcc">
                    <h4 class="namecc">Category</h4>
                </div>
                <div class="ccsub">
                    <img src="/icon/gridicons_product.png" alt="" style="height: 35px;width: 35px; margin-left: 20%;" class="imgcc">
                    <h4 class="namecc">Sản phẩm</h4>
                </div>
                <div class="ccsub">
                    <img src="/icon/fluent-mdl2_product-list.png" alt="" style="height: 35px;width: 35px; margin-left: 20%;" class="imgcc">
                    <h4 class="namecc">Detail</h4>
                </div>
                <div class="ccsub">
                    <img src="/icon/tabler_brand-itch.png" alt="" style="height: 35px;width: 35px; margin-left: 20%;" class="imgcc">
                    <h4 class="namecc">Thương hiệu</h4>
                </div>
            </div> 
        </div>
        <div class="cc" id="cc3">
            <img src="/icon/Profile.png" alt="" style="height: 40px;width: 40px; margin-left: 20%;" class="imgcc child">
            <h4 class="namecc child">Người</h4>
            <img src="/icon/iconamoon_arrow-bottom-left-2.png" style="width: 40px; height: 40px;" class="row child">
            <div class="covert" style="padding-top: 60px;">
                <div class="ccsub">
                    <img src="/icon/icon-park-outline_file-staff.png" alt="" style="height: 35px;width: 35px; margin-left: 20%;" class="imgcc">
                    <h4 class="namecc">Nhân viên</h4>
                </div>
                <div class="ccsub">
                    <img src="/icon/icon-park-outline_customer.png" alt="" style="height: 35px;width: 35px; margin-left: 20%;" class="imgcc">
                    <h4 class="namecc">Khách hàng</h4>
                </div>
                <div class="ccsub">
                    <img src="/icon/gis_position-man.png" alt="" style="height: 35px;width: 35px; margin-left: 20%;" class="imgcc">
                    <h4 class="namecc">Chức vụ</h4>
                </div>
            </div> 
        </div>
        <div class="cc" id="cc4">
            <img src="/icon/Ticket.png" alt="" style="height: 40px;width: 40px; margin-left: 20%;" class="imgcc child">
            <h4 class="namecc child">Hóa đơn</h4>
            <img src="/icon/iconamoon_arrow-bottom-left-2.png" style="width: 40px; height: 40px;" class="row child">
            <div class="covert" style="padding-top: 60px;">
                <div class="ccsub">
                    <img src="/icon/mingcute_bill-line.png" alt="" style="height: 35px;width: 35px; margin-left: 20%;" class="imgcc">
                    <h4 class="namecc">Import Bill</h4>
                </div>
                <div class="ccsub">
                    <img src="/icon/solar_bill-list-linear.png" alt="" style="height: 35px;width: 35px; margin-left: 20%;" class="imgcc">
                    <h4 class="namecc">Bill</h4>
                </div>
                <div class="ccsub">
                    <img src="/icon/carbon_scis-transparent-supply.png" alt="" style="height: 35px;width: 35px; margin-left: 20%;" class="imgcc">
                    <h4 class="namecc">Supplier</h4>
                </div>
            </div> 
        </div>
    </div>

    